<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/stylesheet.css" type="text/css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div style="margin: 10px;">
            <!-- <table class="table table-striped" id="example">
                <thead>
                  <tr class="table-dark"  style="border: none;">
                    <th scope="col" class="col-1">編號</th>
                    <th scope="col" class="col-5">作品名稱</th>
                    <th scope="col" class="col-2">作者</th>
                    <th scope="col" class="col-2">行政區</th>
                    <th scope="col" class="col-2">設置年度</th>
                  </tr>
                </thead>
                <tbody id="tableContent">
                  
                </tbody>
            </table> -->
            <table class="table table-striped" id="example" style="width: 100%;">
                <thead>
                  <tr class="table-dark"  style="border: none;">
                    <th scope="col" class="col-1">編號</th>
                    <th scope="col" class="col-5">作品名稱</th>
                    <th scope="col" class="col-2">作者</th>
                    <th scope="col" class="col-2">行政區</th>
                    <th scope="col" class="col-2">設置年度</th>
                  </tr>
                </thead>
            </table>
        </div>
    </body>
</html>

<script src="/sources/jquery/dist/jquery.min.js"></script>

<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<link rel="stylesheet" type="text/css" href="/sources/bootstrap/dist/css/bootstrap.min.css" />
<script src="/sources/bootstrap/dist/js/bootstrap.js"></script>
<script src="/assets/js/index.js"></script>